<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="../../../assets/image-placeholder.jpg"
      alt="image-placeholer"
      srcset=""
      height="250px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="">Lorem Ipsum é chato e sem graça!</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      Cat Ipsum deveria ser mais utilizado por todos! Pose purrfectly to show my
      beauty freak human out make funny noise mow mow mow mow mow mow success
      now attack human eat a plant, kill a hand i bet my nine lives on
      you-oooo-ooo-hooo. I love cats i am one wake up scratch humans leg for
      food then purr then i have a and relax always ensure to lay down in such a
      manner that tail can lightly brush human's nose.
    </p>
  </div>
</div>
