.menu__title__container > h1 {
  margin: 2rem 0;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.menu__title__container > hr {
  margin: 1.5rem 0;
}
