.container__small-card {
  display: flex;
  flex-direction: column;
}
.container__small-card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 0.8rem;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
