<header><app-menu-bar></app-menu-bar></header>

<main>
  <app-menu-title></app-menu-title>

  <div class="articles">
    <div class="articles__main">
      <app-big-card></app-big-card>
    </div>
    <div class="articles__others">
      <app-small-card
        cardTitle="Lorem Ipsum é chato e sem graça!"
        photoCover="../../../assets/image-placeholder.jpg"
      ></app-small-card>
      <app-small-card
        cardTitle="Lorem Ipsum é chato e sem graça!"
        photoCover="../../../assets/image-placeholder.jpg"
      ></app-small-card>
      <app-small-card
        cardTitle="Lorem Ipsum é chato e sem graça!"
        photoCover="../../../assets/image-placeholder.jpg"
      ></app-small-card>
    </div>
  </div>
</main>
