<main>
  <app-menu-title></app-menu-title>

  <div class="articles">
    <div class="articles__main">
      <app-big-card></app-big-card>
    </div>
    <div class="articles__others">
      <app-small-card
        Id="1"
        cardTitle="Lorem Ipsum é chato e sem graça!"
        photoCover="../../../assets/image-placeholder.jpg"
      ></app-small-card>
      <app-small-card
        Id="2"
        cardTitle="Lorem Ipsum é chato e sem graça!"
        photoCover="../../../assets/image-placeholder.jpg"
      ></app-small-card>
      <app-small-card
        Id="3"
        cardTitle="Lorem Ipsum é chato e sem graça!"
        photoCover="../../../assets/image-placeholder.jpg"
      ></app-small-card>
    </div>
  </div>
</main>
